* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}

html, body {
	margin: 0;
	right: 0;
	padding: 0;

  }

@font-face {
	font-family: kamerik-3d;
	src: url(../fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}
@font-face {
	font-family: merriweather-italic-3d;
	src: url(../fonts/merriweather-regular-italic.woff2);
}
body {
	background-color: #000;
	color: #fff;
	font-family: kamerik-3d;
}
.logo {
	--logo-size: calc(var(--index) * 7.8);
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	position: absolute;
	left: 10px; /* Поместить логотип в левый угол */
	top: 10px; /* Поместить логотип в верхний угол */
	z-index: 1;
	background-size: cover;
}



.layers {
	perspective: 1000px;
	overflow: hidden;
}
.layers__container {
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}
.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.layer-1 {
	transform: translateZ(-55px) scale(1.06);
}
.layer-2 {
	transform: translateZ(80px) scale(.88);
}
.layer-3 {
	transform: translateZ(180px) scale(.8);
}
.layer-4 {
	transform: translateZ(190px) scale(.9);
}
.layer-5 {
	transform: translateZ(300px) scale(.9);
}
.layer-6 {
	transform: translateZ(380px);
}

.hero-content {
	font-size: calc(var(--index) * 2.4);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * -.15);
	line-height: 1.35em;
	margin-top: calc(var(--index) * 5.5);
	background: linear-gradient(90deg, blue 50%,  yellow 50%);
	-webkit-background-clip: text; /* Для поддержки веб-китовских браузеров */
	color: transparent; /* Сделаем текст прозрачным, чтобы отобразить градиент */
}


.hero-content span {
	display: block;
}
.hero-content__p {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * .73);
	line-height: 3;
}
.button-start {
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .71);
	letter-spacing: -.02vw;
	padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: rgb(255 255 255 / .4) 3px solid;
	outline: none;
	cursor: pointer;
	margin-top: calc(var(--index) * 2.5);
}
.layer-4, .layer-5, .layer-6 {
	pointer-events: none;
}

.layer-2 {
	background-size: 70%; /* Процент или другое значение, определяющее размер изображения */
	/* Другие стили для .layer-2 */
	background-repeat: no-repeat;

  }

  /* Удалим стандартные стили кнопки */
button {
	appearance: none;
	background: transparent;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
  }

  /* Создаем псевдоэлемент ::before, который будет представлять искру */
  button::before {
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7); /* Цвет искры (здесь установлен белый с небольшой прозрачностью) */
	width: 50px; /* Ширина искры */
	height: 50px; /* Высота искры */
	border-radius: 90%; /* Делаем круглую искру */
	transform: translate(-50%, -50%) scale(0); /* Сначала уменьшим размер и скроем искру за кнопкой */
	pointer-events: none; /* Игнорируем события нажатия для псевдоэлемента */
	transition: transform 0.5s ease; /* Добавим плавную анимацию изменения размера и положения искры */
  }

  /* При наведении на кнопку, увеличиваем размер искры, чтобы она покрыла кнопку */
  button:hover::before {
	transform: translate(-50%, -50%) scale(3); /* Увеличиваем размер искры (здесь 3 раза) */
  }


  #menu__toggle {
	opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
  }

  .menu__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 20px;
	right: 10px;

	width: 30px;
	height: 26px;

	cursor: pointer;
	z-index: 1;


  }


  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
	display: block;
	position: absolute;

	width: 100%;
	height: 2px;

	background-color:ghostwhite ;

	transition-duration: .25s;
  }
  .menu__btn > span::before {
	content: '';
	top: -8px;
  }
  .menu__btn > span::after {
	content: '';
	top: 8px;
  }

  .menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: 0;
	left: -100%;


	width: 180px;
	height: 50%;

	margin: 0;
	padding: 20px 0;

	list-style: none;

	background-color: #ECEFF1;
	box-shadow: 5px 0px 6px rgba(0, 0, 0, .2);

	transition-duration: .25s;


  }

  .menu__item {
	display: block;
	padding: 12px 24px;

	color: #333;

	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;

	text-decoration: none;

	transition-duration: .25s;
  }
  .menu__item:hover {
	background-color: #CFD8DC;
  }

  .hamburger-menu {
	height: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
  }

  .menu__logo-item {
	display: flex;

	padding: 5px; /* Adjust the padding as needed */
	margin-left: 20px;
  }

  .menu__logo {
	display: block;
	max-width: 100px; /* Adjust the maximum width of the logo */
	margin: 1px; /* Center the logo horizontally */
  }

  .menu__logo img {
	width: 100%;
	height: auto; /* Maintain the aspect ratio */
  }
