<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jedi Code</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/jedi.css">
	<link rel="stylesheet" href="css/global.css">
	<script src="../js/app.js" defer></script>
	<script src="../js/addEventListener.js" defer></script>
</head>
<body>
	<div class="neon-border">
		<div class="fullscreen-image-container">
			<img class="fullscreen-image" src="../img/main-qimg.jfif" alt="Jedi Code" />
		</div>
		<section class="jedi-page-content">
		</section>
	</div>
</body>
</html>
